@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.785;
}

.title-wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 17px;

  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}

.subtitle {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8e8e9c;
}

.common-section {
  text-align: center;
  padding: 80px 0;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: #fff;
}

.common-section--dark .subtitle {
  color: #e8e8e8;
}

.title-card {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}

/*==================== HEADER ====================*/

.header {
  padding: 18px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(220, 235, 247, 0.5);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69b9ff;
}

.header__nav ul {
  display: flex;
}

.header__nav li + li {
  margin-left: 40px;
}

.header__nav a {
  font-size: 16px;
  line-height: 1.25;
  color: #676770;
}

.header__nav a:hover {
  color: #0082f3;
}

.header__nav a:active {
  color: #0062b6;
}

/*==================== WELCOME ====================*/

.welcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;

  background-color: #7c8a97;
  background-image: url('././img/welcome-bg.jpg');
  background-size: cover;
  background-position: center;
}

.welcome__title {
  padding-bottom: 106px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome__links > * + * {
  margin-left: 20px;
}

/* .link-primary {
    display: inline-block;
    padding: 13px 30px;

    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color: #69b9ff;
    border-radius: 4px;

    transition: background-color 0.15s;
}

.link-primary:hover {
    background-color: #7cc2ff;
}

.link-primary:active {
    background-color: #3ca4ff;
} */

.link {
  display: inline-block;
  padding: 12px 30px;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 1px solid #fff;
  border-radius: 4px;

  transition: background-color 0.15s;
}

.link:hover {
  /* background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5); */
  background-color: #7cc2ff;
  border: none;
}

.link:active {
  /* background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.5); */
  background-color: #3ca4ff;
  border: none;
}

/*==================== WHAT-WE-DO ==============*/

.what-we-do .cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.what-we-do .card {
  padding: 36px 16px 23px;
  max-width: 300px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
}

.what-we-do .card__img {
  margin-bottom: 19px;

  width: 94px;
  height: 94px;
  object-fit: contain;
}

.what-we-do .card__title {
  margin-bottom: 14px;
  color: #676770;
}

/*==================== SERVICES ==============*/

.services .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 49%;
}

.services .card__img {
  margin-bottom: 20px;
}

.services .card__title {
  margin-bottom: 23px;
}

.services .card__desc {
  padding: 0 16px;
}

.services .link {
  margin-top: 17px;
}

/*==================== TAB-SECTION ==============*/

.tabs__nav {
  margin-bottom: 52px;
}

.btn-tab {
  padding: 0 30px;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;

  background-color: #92a0ad;
  border-radius: 4px;
}

.tabs__nav .active {
  background-color: #2e80b6;
}

.tabs__nav .btn-tab + .btn-tab {
  margin-left: 16px;
}

.tabs__img {
  margin-bottom: 16px;
}

.tabs__title {
  margin-bottom: 14px;

  font-size: 31px;
  line-height: 1.16;
  text-transform: capitalize;
  color: #676770;
}

/*==================== FOOTER ==============*/

.footer-desc {
  padding: 35px 0;
}

.footer-desc a {
  font-size: 13px;
  color: #668cad;
}

.footer-desc li {
  height: 30px;
  position: relative;
}

.footer-desc li::after {
  content: '';
  width: 100%;
  height: 1px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: #d5d5e0;
}

.footer-desc li + li {
  margin-top: 6px;
}

.footer-desc__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.footer-desc__container > * {
  width: 30%;
  min-width: 220px;
}

.footer-desc__social li::after {
  width: calc(100% - 33px);
}

.footer-desc__social img {
  margin-right: 10px;

  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer-desc__title {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #676770;
}

.footer-copy {
  padding: 40px 0;
  text-align: center;
  background-color: #383838;
}

.footer-copy p {
  color: #9e9e9e;
}

/*==================== МЕДИА-ЗАПРОСІ ==============*/

@media (max-width: 829px) {
  .footer-desc__container {
    justify-content: space-evenly;
  }

  .footer-desc__title {
    margin-bottom: 10px;
  }

  .footer-desc {
    padding-top: 0;
  }
}

@media (max-width: 660px) {
  .tabs__nav {
    margin-bottom: 30px;
  }

  .btn-tab {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
  }

  .tabs__nav .btn-tab + .btn-tab {
    margin-top: 10px;
    margin-left: auto;
  }

  .common-section {
    padding: 65px 0;
  }
}

@media (max-width: 600px) {
  .services .cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .services .card {
    width: 80%;
  }

  .title-wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .header__nav li + li {
    margin-left: 15px;
  }

  .welcome__title {
    padding-bottom: 50px;
    font-size: 40px;
  }

  .welcome__links a {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome__links > * + * {
    margin-top: 20px;
  }

  body {
    font-size: 12px;
  }

  .title-card {
    font-size: 16px;
  }

  .services .link {
    font-size: 14px;
  }

  .tabs__title {
    font-size: 24px;
  }

  .common-section {
    padding: 50px 0;
  }
}
